body {
    background-image: url('./images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

/* Parallax */
section 
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:before
{
    content: '';
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000000, transparent);
    z-index: 10000;
}
section:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 10000;
    mix-blend-mode: color;
}


section img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.container {
  padding: 30px;
}




  

/* Barra de navegacion */
.navbar {
    padding: 2rem;
    background-color: #FFFFFF;
  }
 
  
  .navbar-collapse {
    align-items: center;
    justify-content: space-between;
    font-family:'Inknut Antiqua', serif;
    font: bold;
  }
  /*estilos generales*/
 
  h1{
    font-size: 2.5rem;
    font-family: 'Sirin Stencil', cursive;
  }
  
  
  .seccion-clara{
    color: black;
    background-color: white;
  }
  
  .seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Sirin Stencil', cursive;
  
  }
  
  .seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
  }
  
  
  .seccion-texto{
    font-size: 1.2rem;
  }
  
  /*Carousel*/
  .carousel-control-prev-icon {
    filter: invert(100%);
    color: black;
  }
  
  .carousel-control-next-icon {
    filter: invert(100%);
    color: black;
  }
  

  .carousel{

    padding: 10px 30px 20px 30px;

  }

  /*Cards*/
  
  .card{
    display:block;
    transition: all 1s ease-in-out;
  }
  .card:hover{
    background-color: #000000;
  }
  
  p{
   color: rgb(92, 90, 8);
   font-family: 'Inknut Antiqua', serif;
   font:bold;
   font-size: small;
   text-align: center;
   padding: 3rem;
   cursor: pointer;
   transition: all 1s ease-in-out;
  }

  p:hover{
    color:rgb(92, 90, 8);
    background-color: #000000;
  }

  /*Footer*/
  
  footer {
    background-color: #000000;
    min-height: 250px;
  }
  
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .footer-texto {
    margin-top: 10px;
    font-size: 0.9rem;
    padding: 10px;
    font-family: 'Inknut Antiqua', serif;
    color: #FFFFFF;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid  rgb(92, 90, 8);
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }

  @media screen and (max-width: 767px) {
    .navbar-brand{
      display: none;
    }
  }